
h1{
    background: #151414;
    color: beige;
    font-size: 40px;
    text-align: center;
}
body {
    padding: 10px;
    margin: 0;

}
li{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    color: red;
}
img{
    width: 700px;
    height: 500px;
}
.target{
    text-align: center;
}

